/*  your css code here. If applicable */
*{
	background-color:rgb(235, 255, 244);
}

.imageContainer{
	width:1100px;
}

.table,tr,td{
    border:1px solid grey;
	
}

tr{
	gap:5px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.word{
	width:200px;
	height:100px;
	text-align:center;
	
	display:flex;
	justify-content:center;
	align-items:center;
}

.img{
	width:400px;
}

.row{
	width:200px;
}

.text{
	width:600px;
}